@model virtualReality.ViewModels.OrdersVM.OrderVM

@{

    this.ViewData["title"] = "Orders";
    this.Layout = "/Views/Shared/_Site.cshtml";

    // No need for these statuses
    // Simply use Confirmed/Cancelled
    // Single button for all roles

    var InProgress = "InProgress";
    var Shipping = "Shipping";
    var Received = "Received";
}

<h1>EditStatus</h1>

<h4>OrderStatus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" action="/Order/EditStatus" name="ChangeStatus">
            @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                @Html.LabelFor(m => m.Status)
                @Html.TextBoxFor(m => m.Status)
@*                <select id="statusSelect" asp-for="Status">
                    @if (Model.Status == "Processing")
                    {
                        <option asp-f" value="@Model.Status"> @Model.Status </option>
                        <option value="InProgress+@Model.UserId"> InProgress </option>
                        <option value="Shipping+@Model.UserId"> Shipping </option>
                        <option value="Received+@Model.UserId"> Received </option>
                    }
                    else
                    {
                        @if (Model.Status == InProgress)
                        {
                            <option value="@Model.Status"> @Model.Status </option>
                            <option value="Shipping+@Model.UserId"> Shipping </option>
                            <option value="Received+@Model.UserId"> Received </option>
                        }
                        else if (Model.Status == Shipping)
                        {
                            <option value="@Model.Status"> @Model.Status </option>
                            <option value="InProgress+@Model.UserId"> InProgress </option>
                            <option value="Received+@Model.UserId"> Received </option>
                        }
                        else
                        {
                            <option value="@Model.Status"> @Model.Status </option>
                            <option value="InProgress+@Model.UserId"> InProgress </option>
                            <option value="Shipping+@Model.UserId"> Shipping </option>
                        }
                    }
                </select>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Change Status" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a href="./AllOrders">Go back</a>
</div>