@using virtualReality.Entities
@model virtualReality.ViewModels.GamesVM.AllGamesVM

@{
    Layout = "/Views/Shared/_Site.cshtml";
    ViewData["title"] = "Games";
}

<div class="item-details-page">
    <div class="container">  
            <div class="col-lg-12">
                <div class="current-bid mt-0">
                    <h1 class="text-center">Total Games: @Model.Games.Count</h1>
                    <div class="pageActions">
                        <a class="btn addNew" href="/Game/Create">
                            <i class="fa-solid fa-plus icon"></i>Add Games
                        </a>
                    </div>
                    <div class="row">
                        @foreach (var game in Model.Games)
                        {
                            <div class="col-lg-6 col-md-6">
                                <div class="item">
                                    <div class="left-img">
                                        <img src="@game.Url" alt="Placeholder for: @game.Name">
                                    </div>
                                    <div class="right-content reducedWidth">
                                        <h4>@game.Name</h4>
                                        <h6>@game.Manufacturer</h6>
                                        <div class="line-dec"></div>
                                        <h6>
                                            Price:
                                            <em>@game.Price BGN</em>
                                        </h6>
                                        <span class="released">Released:</span>
                                        <span class="date">@game.ReleaseDate.ToString("dd/MM/yyyy")</span>
                                        <div class="pageActions">
                                            <a class="btn btn-warning actionButton allCentered" href="/Game/Edit?id=@game.Id">
                                                <i class="fa-solid fa-pencil"></i>Edit
                                            </a>
                                            <a class="btn btn-danger actionButton allCentered" href="/Game/Delete?id=@game.Id">
                                                <i class="fa-solid fa-trash"></i>Delete
                                            </a>
                                            <a class="btn btn-success actionButton allCentered" href="/Order/AllOrders?id=@game.Id">
                                                <i class="fa-solid fa-money-bill"></i>Order
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

