@using virtualReality.Entities
@model virtualReality.ViewModels.GamesVM.CreateVM

@{
    this.ViewData["title"] = "Games";
    this.Layout = "/Views/Shared/_Site.cshtml";

}
<div class="col-lg-8" style="margin: 120px auto;">
    <form action="/Games/Create" method="post" id="contact">
        <div class="row">
            <div class="label" for="name">
                @Html.LabelFor(m => m.Name)
            </div>
            <div class="input" id="name" name="name" required="required">
                @Html.TextBoxFor(m => m.Name)
            </div>
        </div>
        <div class="row">
            <div class="label" for="genre">@Html.LabelFor(m => m.Genre)</div>
            <div class="input" id="genre" name="genre" required="required">
                @Html.TextBoxFor(m => m.Genre)
            </div>

        </div>
        <div class="row">
            <div class="label" for="manufacturer" id="labelTel">@Html.LabelFor(m => m.Manufacturer)</div>
            <div class="input" id="manufacturer" name="manufacturer" required="required">
                @Html.TextBoxFor(m => m.Manufacturer)
            </div>

        </div>
        <div class="row">
            <div class="label" for="price" id="labelEmail">@Html.LabelFor(m => m.Price)</div> <br>
            <div class="input" id="em" name="price" required="required">
                @Html.TextBoxFor(m => m.Price)
            </div>

        </div>
        <div class="row">
            <div class="label" for="releaseDate" id="releaseDate">@Html.LabelFor(m => m.ReleaseDate)</div> <br>
            <div class="input" id="releaseDate" name="releaseDate" required="required">
                @*@Html.TextBoxFor(m => m.ReleaseDate)*@
                @Html.TextBoxFor(model => model.ReleaseDate, new { @type="date", @class = "form-control datepicker",  @Value = Model.ReleaseDate.ToString("yyyy-MM-dd") } )
            </div>
        </div>
        <div class="row">
            <div class="label" for="url" id="url">@Html.LabelFor(m => m.Url)</div> <br>
            <div class="input" id="url" name="url" required="required">
                @Html.TextBoxFor(m => m.Url)
            </div>
        </div>
        <div class="col-lg-8">
            <div>
                <button action="Create" asp-for="Create" class="btn col-lg-6" type="submit" value="Save" href="/Games/Create" style="background:rgba(125,90,254,1)  25%;">Create</button>
            </div>
        </div>
    </form>
</div>

