@model virtualReality.ViewModels.LoginVM

@{
	Layout = "/Views/Shared/_Site.cshtml";
	ViewData["title"] = "Login";
}

<div class="mainBackground">
	<form action="/Home/Login" method="post" id="contact">
		<div class="row">
			<div class="label" for="username">
				@Html.LabelFor(m => m.Username)
			</div>
			<div class="input" id="username" name="username" required="required">
				@Html.TextBoxFor(m => m.Username)
			</div>
			<div class="input">@Html.ValidationMessageFor(m => m.Username)</div>
		</div>
		<div class="row">
			<div class="label" for="password">@Html.LabelFor(m => m.Password)</div>
			<div class="input" id="password" name="password" required="required">
				@Html.PasswordFor(m => m.Password)
			</div>
		</div>
		<div>
			<button class="submitButton" type="submit">
				<i class="fa-solid fa-right-to-bracket icon"></i>Login
			</button>
		</div>
	</form>
</div>
