@model virtualReality.ViewModels.LoginVM
@{
    Layout = "/Views/Shared/_Site.cshtml";
    ViewData["title"] = "Login";

}

<div class="col-lg-8" style="margin: 120px auto;">
    <form action="/Home/Login" method="post" id="contact">
        <div class="row">
            <div class="label" for="username">
                @Html.LabelFor(m => m.Username)
            </div>
            <div class="input" id="username" name="username" required="required">
                @Html.TextBoxFor(m => m.Username)
            </div>
            <div class="input">@Html.ValidationMessageFor(m => m.Username)</div>
        </div>
        <div class="row">
            <div class="label" for="password">@Html.LabelFor(m => m.Password)</div>
            <div class="input"  id="password" name="password" required="required">
                @Html.PasswordFor(m => m.Password)
            </div>
        </div>
        <div class="col-lg-8">
            <div>
                <button value="Login" class="btn col-lg-6" type="submit" style="background:rgba(125,90,254,1)  25%;">Login</button>
            </div>
        </div>
    </form>
</div>