@using virtualReality.Entities
@model virtualReality.ViewModels.GamesVM.AllGamesVM

@{
    this.ViewData["title"] = "Games";
    this.Layout = "/Views/Shared/_Site.cshtml";

}
<div class="container mt-4">
    <div class="container mb-2">
        @foreach (var item in Model.Items)
        {

            <div class="col-lg-8" style="margin: 150px auto; justify-content: start;">
                <div class="card" style="width: 16rem;">
                    <div class="card-body" style="border-color: #8c52f1;">
                        <h5 class="card-title" style="color: #8c52f1;">@item.Name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Price: @item.Price USD.</h6>
                        <h6 class="card-subtitle mb-2 text-muted">
                            Genre: @item.Genre
                        </h6>
                        <h6 class="card-subtitle mb-2 text-muted">
                            Manufacturer:
                            @item.manufacturer
                        </h6>
                        <h6 class="card-subtitle mb-2 text-muted">
                            Year of release:
                            @item.releaseDate
                        </h6>
                        <div class="card">
                            <img src="/Pictures/@item.url" style="width:100px ; height:100px" />
                        </div>
                        <a class="btn" style="color: #8c52f1; border-color:#8c52f1; margin:20px;" href="/Games/Edit?id=@item.Id">Edit</a>
                        <a class="btn btn-danger" style="color: #fff; margin:20px;" href="/Games/Delete?id=@item.Id">Delete</a>
                    </div>
                </div>
            </div>
        }
        <a class="btn" style="color: #8c52f1; border-color: #8c52f1; margin:20px;" href="/Games/Create">Add Games</a>
    </div>
</div>




