@using virtualReality.Entities
@model virtualReality.ViewModels.GamesVM.EditGamesVM

@{
    this.ViewData["title"] = "Edit Games";
    this.Layout = "/Views/Shared/_Site.cshtml";

}
<div class="col-lg-8" style="margin: 120px auto;">
    <form action="/Games/Edit?id=@Model.Id" method="post" id="contact">
        <div class="row">
            <div class="label" for="name">
                @Html.LabelFor(m => m.Name)
            </div>
            <div class="input" id="username" name="name" required="required">
                @Html.TextBoxFor(m => m.Name)
            </div>
        </div>
        <div class="row">
            <div class="label" for="genre">@Html.LabelFor(m => m.Genre)</div>
            <div class="input" id="genre" name="genre" required="required">
                @Html.TextBoxFor(m => m.Genre)
            </div>

        </div>
        <div class="row">
            <div class="label" for="Manufacturer" id="labelTel">@Html.LabelFor(m => m.Manufacturer)</div>
            <div class="input" id="phone" name="manufacturer" required="required">
                @Html.TextBoxFor(m => m.Manufacturer)
            </div>

        </div>
        <div class="row">
            <div class="label" for="Price" id="labelEmail">@Html.LabelFor(m => m.Price)</div> <br>
            <div class="input" id="em" name="price" required="required">
                @Html.TextBoxFor(m => m.Price)
            </div>

        </div>
        <div class="row">
            <div class="label" for="ReleaseDate" id="labelEmail">@Html.LabelFor(m => m.ReleaseDate)</div> <br>
            <div class="input" id="em" name="releseDate" required="required">
                @Html.TextBoxFor(m => m.ReleaseDate)
            </div>

        </div>
        <div class="col-lg-8">
            <div>
                <button action="Edit" asp-for="Edit" class="btn col-lg-6" type="submit" value="Save" href="/Games/AllGames" style="background:rgba(125,90,254,1)  25%;">Edit</button>
            </div>
        </div>
    </form>
</div>